/* Base styles for the card */
.card {
  --text-color: var(--color-base-black);
  border-radius: 30px;
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--color-neutral-50);
  transition: all 0.3s ease;
  position: relative;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content {
  background-color: var(--color-neutral-50);
  border-radius: 30px;
  padding: 1rem;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* --- Light Mode Styles --- */
.card.card--shadow {
  box-shadow: 0px 12px 45px rgba(var(--color-tertiary-700-rgb), 0.1);
}

.card.card--no-shadow {
  box-shadow: none;
  background-color: var(--color-secondary-50);
}

.card.card--stroke {
  border: 1.5px solid var(--color-electric-blue-400);
}

/* Transparent Card with Gradient Border */
.card.card--transparent {
  background: transparent;
  position: relative;
  padding: 1.5px;
  background-color: rgba(var(--color-neutral-50-rgb), 0.8);
  backdrop-filter: blur(20px);
}

.card.card--transparent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  padding: 1.5px;
  background: linear-gradient(
    36deg,
    var(--color-electric-blue-500) 4.73%,
    var(--color-electric-blue-200) 97.69%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* --- Special Card --- */
.card.card--special {
  width: 600px;
  background: transparent;
  border-radius: 40px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card.card--special .card-content {
  background-color: var(--color-neutral-50);
  border-radius: 40px;
  padding: 2rem;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  height: 100%;
}

.card.card--special::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 80%;
  box-shadow: 0 20px var(--color-main-blue-500);
  background: linear-gradient(
    196.1deg,
    var(--color-electric-blue-100) 11.2%,
    var(--color-main-blue-500) 88.8%
  );
  filter: blur(40px);
  z-index: 0;
  border-radius: 40px;
}
/* --- Dark Mode Styles --- */
@media (prefers-color-scheme: dark) {
  .card {
    --text-color: var(--color-base-white);
    background-color: var(--color-base-black);
  }

  .card.card--shadow {
    box-shadow: 0px 6px 20px 0px (rgb(var(--color-electric-blue-500-rgb), 0.15));
  }

  .card.card--no-shadow {
    box-shadow: none;
    background-color: rgba(var(--color-base-white-rgb), 0.1);
  }

  .card.card--stroke {
    border: 1.5px solid var(--color-neutral-800);
  }

  /* Transparent Card with Gradient Border */
  .card.card--transparent {
    position: relative;
    background-color: rgba(var(--color-base-black-rgb), 0.5);
    backdrop-filter: blur(20px);
    overflow: hidden;
  }

  .card.card--transparent::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1.5px;
    background: linear-gradient(
      36deg,
      var(--color-electric-blue-500) 4.73%,
      var(--color-electric-blue-200) 97.69%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 0;
  }

  /* Contenido de la tarjeta */
  .card.card--transparent > * {
    position: relative;
    z-index: 1;
  }
  /* --- Special Card --- */
  .card.card--special {
    background: var(--color-base-black);
    border-radius: 40px;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .card.card--special .card-content {
    background-color: var(--color-base-black);
    border-radius: 40px;
    padding: 2rem;
    flex-grow: 1;
    height: 100%;
    border: 1px solid var(--color-neutral-800);
  }

  .card.card--special::before {
    content: '';
    position: absolute;
    z-index: 0;
  }
}
