html {
  height: 100%;
}

body {
  position: relative;
  box-sizing: border-box;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/background-noise.svg'), var(--color-base-black);
  background-size: cover;
  background-position: center;
  mix-blend-mode: soft-light;
  z-index: -1;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
