.footer {
  position: absolute;
  width: 100%;
  height: 465px;
  background: var(--color-base-black)
    url('../../../assets/footer/Footer-background.png') no-repeat center;
  color: var(--color-base-white);
  padding: 0 100px;
  overflow: hidden;
}

/* ========== HEADER ========== */
.footer__header {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.footer__logo {
  align-self: center;
}

.footer__newsletter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__newsletter-title {
  font-weight: 800;
  font-size: 18px;
}

.footer__newsletter-input {
  max-width: 280px;
}

/* ========== BODY ========== */
.footer__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__info {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  gap: 150px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__contact-text {
  max-width: 312px;
  font-weight: 500;
  font-size: 14px;
}

/* NAV */
.footer__nav-groups {
  display: flex;
  gap: 160px;
  justify-content: space-between;
}

.footer__nav-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__nav-link {
  color: inherit;
  text-decoration: none;
}

/* SOCIAL */
.footer__social {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}

/* COPYRIGHT */
.footer__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
}

.footer__copyright {
  font-weight: 500;
  color: var(--color-neutral-500);
}

.footer__links {
  display: flex;
  margin-top: 12px;
  gap: 20px;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-main-blue-500);
}

/* ========== MEDIA QUERIES ========== */
@media (max-width: 1150px) {
  .footer {
    padding: 0 40px;
  }

  .footer__info {
    gap: 100px;
  }

  .footer__newsletter {
    align-items: flex-end;
  }

  .footer__newsletter-title {
    text-align: center;
    width: 150px;
  }
}

@media (max-width: 933px) {
  .footer {
    width: 100vw;
    height: 1058px;
    background: var(--color-base-black)
      url('../../../assets/footer/mobile-footer-BG.png') no-repeat center;
  }

  .footer__header {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .footer__body {
    align-items: center;
  }

  .footer__newsletter {
    flex-direction: column;
    align-items: center;
    width: 244px;
    margin: 0 20px;
  }

  .footer__info {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footer__nav-groups {
    justify-content: space-around;
    gap: 0;
  }

  .footer__social {
    justify-content: center;
    margin-top: 50px;
  }

  .footer__bottom {
    align-items: center;
  }

  .footer__links {
    width: 60%;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0 20px;
  }

  .footer__header {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .footer__newsletter {
    flex-direction: column;
  }

  .footer__info {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footer__contact-item {
    width: 100%;
  }

  .footer__bottom {
    align-items: center;
  }

  .footer__links {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer__nav-groups {
    justify-content: space-between;
  }
}
